appdirs==1.4.3
click==6.7
Flask==0.12
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==1.0
packaging==16.8
pur==4.0.2
pyparsing==2.2.0
six==1.10.0
Werkzeug==0.12.1
alembic==0.8.10
Flask_Mail==0.9.1
Flask_Migrate==2.0.3
Flask_Script==2.0.5
Flask_SQLAlchemy==2.1
Flask_WTF==0.14.2
WTForms==2.1
python_memcached==1.58
SQLAlchemy==1.1.6
Pillow==3.3.1
qiniu==7.0.9.
WTForms==2.1
shortuuid==0.4.3
Top==1.0.0