{% from 'common/common_macros.html' import static, img_static, i_static %}
<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% include 'common/common_head.html' %}
    {{ static('css','front/css/front_base.css') }}
    {{ static('js','common/js/logout.js') }}
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">潭州python学院</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
              <li class="active"><a href="/">首页</a></li>
          </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if front_user %}
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ front_user.username }}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('account.profile',user_id=front_user.id) }}" class="dropdown-toggle">
                                <i class="glyphicon glyphicon-user"></i>&nbsp;个人中心
                            </a></li>
                            <li><a href="{{ url_for('account.settings') }}">
                                <i class="glyphicon glyphicon-cog"></i>&nbsp;设置
                            </a></li>
                            <li><a href="{{ url_for('account.logout') }}" id="logout-submit">
                                <i class="glyphicon glyphicon-log-out"></i>&nbsp;退出登录
                            </a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{{ url_for('account.login') }}">登录</a></li>
                    <li><a href="{{ url_for('account.register') }}">注册</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% block body %}
    <div class="container">
        {% block container %}{% endblock %}
    </div>
{% endblock %}
</body>
</html>