{% extends 'cms/cms_base.html' %}

{% block title %}
    修改邮箱
{% endblock %}

{% block page_title %}
    {{ self.title() }}
{% endblock %}

{% block head %}
    {{ static( 'js', 'cms/js/cms_resetmail.js') }}
{% endblock %}

{% block main_content %}
<div class="container col-md-offset-4 col-sm-offset-2 col-lg-4 col-md-4 form-group-lg">
    <form action="" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="form-group">
            <div class="input-group">
                <input type="email" class="form-control" name="email" placeholder="新邮箱">
                <span class="input-group-addon" id="captcha-btn" style="cursor: pointer;">
                    获取验证码
                </span>
            </div>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="captcha" placeholder="邮箱验证码">
        </div>
        <div class="form-group">
            <button class="btn btn-primary" id="submit">立即修改</button>
        </div>
    </form>
</div>
{% endblock %}